@using bacit_dotnet.MVC.Models.Users

@{
    ViewData["Title"] = "bacit_dotnet.MVC";

}
@model UserViewModel
<div class="absolute inset-y-0 right-0 left-1/2 text-center bg-gray-100">

    <h3 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">Administrer brukere</h3>

    <form asp-action="save" asp-controller="users" method="post">
        <ul>
            <li>
                <label for="Name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Navn</label>
                <input type="text" name="Name" value="@Model.Name" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="navn"/>
            </li>

            <li>
                <label for="Email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                <input type="email" name="Email" value="@Model.Email" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="email"/>
            </li>
            <li>
                <label for="Role">Sett som administrator</label>
                <input asp-for="@Model.IsAdmin"/>
            </li>
            <li>
                <input type="submit" value="Lagre" class="w-full text-gray-500 bg-gray-800 hover:text-yellow-500 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"/>
            </li>
        </ul>
    </form>
</div>
}