<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - bacit_dotnet.MVC</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/bacit_dotnet.MVC.styles.css" asp-append-version="true" />

</head>
<body>
    <header>
        <div id="menu" class="fixed left-0 top-0 h-screen w-40 m-0 rounded-none flex-column flex-column bg-gray-800 z-50">
            <ul class="flex-items center">
                <p class="text-gray-500 font-mono text-3xl hover:text-sky-400 px-5 py-3">nøsted&</p>
                <li class="flex h-16 py-0 first:pt-0 last:pb-0">
                    <a class="bg-gray-800 text-gray-500 hover:text-yellow-500 px-10 py-6" asp-area="" asp-controller="Home" asp-action="Index">Alle saker</a>
                </li>
                <li class="flex h-16 py-0 first:pt-0 last:pb-0">
                    <a class="bg-gray-800 text-gray-500 hover:text-yellow-500 px-9 py-6" asp-area="" asp-controller="DineSaker" asp-action="DineSaker">Mine saker</a>
                </li>
                <li class="flex h-16 py-0 first:pt-0 last:pb-0">
                    <a class="bg-gray-800 text-gray-500 hover:text-yellow-500 px-6 py-3" asp-area="" asp-controller="Users" asp-action="Index">Administrering av kunder</a>
                </li>
                <li class="flex h-16 py-0 first:pt-0 last:pb-0">
                    <a class="bg-gray-800 text-gray-500 hover:text-yellow-500 px-12 py-6" asp-area="" asp-controller="Home" asp-action="Index">Logg ut</a>
                </li>
            </ul>
        </div>
  
        
             
    </header>
    <div class="ml-40 container mx-auto">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   
    <script>
        function toggleMenu() {
            var menu = document.getElementById("menu");
            menu.classList.toggle("hidden");
        }
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

