@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    @Html.AntiForgeryToken()
    <form>
        
        <ul class="navbar-nav">
            <li class="nav-item">
                <span class="navbar-text">@UserManager.GetUserName(User) </span>
            </li>
            
        </ul>
    </form>
}
