
@{
    ViewData["Title"] = "bacit_dotnet.MVC";
}
@model bacit_dotnet.MVC.Models.AdminPage.AdminPageViewModel


<body>
    <header>
        <div class="justify-center-left ml-40 mt-10 flex relative block">
            <span class="sr-only">Search</span>
            <span class="absolute inset-y-0 left-0 flex items-center pl-2">
                <svg class="h-5 w-5 fill-slate-300" viewBox="0 0 20 20"><!-- ... --></svg>
            </span>
            <input class="placeholder:italic placeholder:text-slate-400 block bg-white w-49 border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm" placeholder="Search for anything..." type="text" name="search" />
            <button class="ml-2 bg-gray-800 text-gray-500 hover:text-yellow-500 py-2 px-4 rounded-md bg-ease-in duration-300">Søk</button>

            <a asp-area="" asp-controller="CreateUser" asp-action="CreateUser" class="absolute top-0 right-20 h-10 w-30 bg-gray-800 text-gray-500 hover:text-yellow-500 py-2 px-5 rounded-md bg-ease-in duration-300">
                Ny Ansatt
            </a>


        
        </div>
        
        
        <div class="justify-center mt-10 max-w-4xl mx-auto">

            <table class="min-w-full table-auto">


                <thead>
                <tr>
                    <th class="px-4 py-2 bg-gradient-to-t from-gray-600 to-gray-800 text-gray-100">Navn</th>
                    <th class="px-4 py-2 bg-gradient-to-t from-gray-600 to-gray-800 text-gray-100">Rolle</th>
                    <th class="px-4 py-2 bg-gradient-to-t from-gray-600 to-gray-800 text-gray-100">Epost</th>
                    <th class="px-4 py-2 bg-gradient-to-t from-gray-600 to-gray-800 text-gray-100">Telefon</th>
                </tr>
                </thead>
               
                <tbody>
                <tr class="mt-5 bg-gray-100">
                    <td class="px-4 py-2">Ola Normann</td>
                    <td class="px-4 py-2">Administrator</td>
                    <td class="px-4 py-2">Epost#1</td>
                    <td class="px-4 py-2">42250455</td>
                </tr>
                <tr class="mt-5 bg-gray-200">
                    <td class="px-4 py-2">Petter</td>
                    <td class="px-4 py-2">Saksbehandling</td>
                    <td class="px-4 py-2">Epost#2</td>
                    <td class="px-4 py-2">92253455</td>
                </tr>
                <tr class="mt-5 bg-gray-100">
                    <td class="px-4 py-2">Askeladden</td>
                    <td class="px-4 py-2">Mekaniker</td>
                    <td class="px-4 py-2">Epost#3</td>
                    <td class="px-4 py-2">92250655</td>
                </tr>

                </tbody>
            </table>

        </div>
    </header>
</body>

