@model bacit_dotnet.MVC.Models.ServiceOrder

<h2>Create Person</h2>

<form asp-action="CreateServiceOrder">
    <div class="form-group">
        <label asp-for="CreatedBy" class="control-label">Created By:</label>
        <input asp-for="CreatedBy" class="form-control" />
        <span asp-validation-for="CreatedBy" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="OrderNumber" class="control-label">Order Number:</label>
        <input asp-for="OrderNumber" class="form-control" />
        <span asp-validation-for="OrderNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DateReceived" class="control-label">Date Received:</label>
        <input asp-for="DateReceived" type="date" class="form-control" />
        <span asp-validation-for="DateReceived" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ModelYear" class="control-label">Model Year:</label>
        <input asp-for="ModelYear" type="number" class="form-control" />
        <span asp-validation-for="ModelYear" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ProductType" class="control-label">Product Type:</label>
        <input asp-for="ProductType" class="form-control" />
        <span asp-validation-for="ProductType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SerialNumber" class="control-label">Serial Number:</label>
        <input asp-for="SerialNumber" class="form-control" />
        <span asp-validation-for="SerialNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ServiceType" class="control-label">Service Type:</label>
        <input asp-for="ServiceType" class="form-control" />
        <span asp-validation-for="ServiceType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="WhatIsAgreedWithCustomer" class="control-label">What Is Agreed With Customer:</label>
        <input asp-for="WhatIsAgreedWithCustomer" class="form-control" />
        <span asp-validation-for="WhatIsAgreedWithCustomer" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RepairDescription" class="control-label">Repair Description:</label>
        <input asp-for="RepairDescription" class="form-control" />
        <span asp-validation-for="RepairDescription" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IncludedParts" class="control-label">Included Parts:</label>
        <input asp-for="IncludedParts" class="form-control" />
        <span asp-validation-for="IncludedParts" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DateCompleted" class="control-label">Date Completed:</label>
        <input asp-for="DateCompleted" type="date" class="form-control" />
        <span asp-validation-for="DateCompleted" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="WorkingHours" class="control-label">Working Hours:</label>
        <input asp-for="WorkingHours" type="number" class="form-control" />
        <span asp-validation-for="WorkingHours" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ReplacedPartsReturned" class="control-label">Replaced Parts Returned:</label>
        <input asp-for="ReplacedPartsReturned" class="form-control" />
        <span asp-validation-for="ReplacedPartsReturned" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShippingMethod" class="control-label">Shipping Method:</label>
        <input asp-for="ShippingMethod" class="form-control" />
        <span asp-validation-for="ShippingMethod" class="text-danger"></span>
    </div>

        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>