@{
    ViewData["Title"] = "bacit_dotnet.MVC";
}
@model bacit_dotnet.MVC.Models.ServiceOrder

@{
    Layout = null; 
}

@*
<div>
    <label asp-for="Status" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Status</label>
    <select asp-for="Status" asp-items="@(new SelectList(ViewBag.StatusList, "Value", "Text"))" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
        <option value="">Velg status</option>
    </select>
    <span asp-validation-for="Status" class="text-danger"></span>
</div>*@
<div>
    <select asp-for="Status" asp-items="@(ViewBag.StatusList != null ? new SelectList(ViewBag.StatusList, "Value", "Text") : new SelectList(new List<SelectListItem>(), "Value", "Text"))" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option value="">Velg rolle</option>
    </select>
</div>